/* solution1 */

.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/* solution2 */

.ex-2-square{
        transition: width 5s ;
}

.ex-2-square:active{
    width: 1100px;
}

/* soluction3 */

.ex-3-square{
       transition: border-radius 2s ;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* solution4 */

.ex-4-square{
    transition: opacity 2s ;
}

.ex-4-square:hover{
    opacity: 0;
}

/* solution5 */

.ex-5-square{
    transition: transform 2s  ;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Soluction6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Soluction7 */

.ex-7-img{
    transition: filter 2s  ;
}

.ex-7-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: sepia(0.8);
}

/* Soluction8 */

.ex-8-img{
    transition: filter 2s, border-radius 2s   ;
}

.ex-8-img:hover{
    filter: grayscale(1);
}

.ex-8-img:hover{
    filter: sepia(0.8);
}

.ex-8-img:hover{
    border-radius: 20px;
}

/* soluction9 */

.ex-9-img{
    transition: filter 2s, border-radius 2s, transform 2s   ;
}

.ex-9-img:hover{
    filter: grayscale(1);
}

.ex-9-img:hover{
    filter: sepia(0.8);
}

.ex-9-img:hover{
    border-radius: 20px;
}

.ex-9-img:hover{
    transform: scale(1.5);
}